# -*-coding:utf-8 -*-

{% extends "base.html" %}
{% load custom_markdown %} # 添加自定义的filter

{% block content %}
<div class="posts">
    {% for news in news_list %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ news.title }}</h2>

                    <p class="post-meta">
                        Time:  <a class="post-author" href="/detail/{{ news.timestamp }}">{{ news.timestamp }}</a> <a class="post-category post-category-js" href="#">{{ news.total }}</a>
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ news.words | custom_markdown }}
                    </p>
                </div>
                <a class="pure-button" href="{% url "detail" timestamp=news.timestamp %}">Read More >>> </a>
        </section>
    {% endfor %}

     {% if news_list.object_list and news_list.paginator.num_pages > 1 %}
      <div>
      <ul class="pager">
      {% if news_list.has_previous %}
        <li><a href="?page={{ news_list.previous_page_number }}">Pre Page</a></li>
      {% endif %}

      {% if news_list.has_next %}
        <li><a href="?page={{ news_list.next_page_number }}">Next Page</a></li>
      {% endif %}
      </ul>
      </div>
    {% endif %}
</div><!-- /.blog-post -->
{% endblock %}